<%- include ('partials/_header') %>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<a
							class="nav-link active"
							id="login-tab"
							data-toggle="tab"
							href="#login"
							role="tab"
							aria-controls="login"
							aria-selected="true"
							>Log in</a
						>
					</li>
					<li class="nav-item" role="presentation">
						<a
							class="nav-link"
							id="signup-tab"
							data-toggle="tab"
							href="#signup"
							role="tab"
							aria-controls="signup"
							aria-selected="false"
							>Register</a
						>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="tab-content" id="tabContent">
					<div
						class="tab-pane"
						id="signup"
						role="tabpanel"
						aria-labelledby="signup-tab"
					>
						<form action="/signup" method="POST" id="formRegister">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<svg
											width="1em"
											height="1em"
											viewBox="0 0 16 16"
											class="bi bi-person-circle"
											fill="currentColor"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
											/>
											<path
												fill-rule="evenodd"
												d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
											/>
											<path
												fill-rule="evenodd"
												d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
											/>
										</svg>
									</span>
								</div>
								<input
									name="username"
									type="text"
									class="form-control"
									placeholder="username"
									required
								/>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<svg
											width="1em"
											height="1em"
											viewBox="0 0 16 16"
											class="bi bi-lock-fill"
											fill="currentColor"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"
											/>
											<path
												fill-rule="evenodd"
												d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"
											/>
										</svg>
									</span>
								</div>
								<input
									id="password"
									name="password"
									type="password"
									class="form-control"
									placeholder="password"
									required
								/>
							</div>
							<label class=""
								><small class="text-danger d-flex" id="errorMatch"></small
							></label>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<svg
											width="1em"
											height="1em"
											viewBox="0 0 16 16"
											class="bi bi-lock-fill"
											fill="currentColor"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"
											/>
											<path
												fill-rule="evenodd"
												d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"
											/>
										</svg>
									</span>
								</div>
								<input
									id="confirmPassword"
									name="confirmPassword"
									type="password"
									class="form-control"
									placeholder="confirm password"
									required
								/>
							</div>

							<div class="form-group">
								<input
									type="submit"
									value="Register"
									class="btn float-right btn-success"
								/>
							</div>
						</form>
					</div>
					<div
						class="tab-pane fade show active"
						id="login"
						role="tabpanel"
						aria-labelledby="login-tab"
					>
                        <form id="formLogin" action="/login" method="POST">
                            <% if (type=='danger') { %>
                                <div class="text-center text-danger">
                            <% }else{ %>
                                <div class="text-center text-success">
                            <% } %>
                            <% if (message) { %>
                                
                                    <p> <%= message %></p>
                                </div>
                             <% } %>
							<div class="input-group form-group">
                                
								<div class="input-group-prepend">
									<span class="input-group-text">
										<svg
											width="1em"
											height="1em"
											viewBox="0 0 16 16"
											class="bi bi-person-circle"
											fill="currentColor"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
											/>
											<path
												fill-rule="evenodd"
												d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
											/>
											<path
												fill-rule="evenodd"
												d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
											/>
										</svg>
									</span>
								</div>
								<input
									pattern=".{1,}"
									autocomplete="off"
                                    name="username"
                                    id="usernameLogin"
									type="text"
									class="form-control"
									placeholder="username"
									required
								/>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<svg
											width="1em"
											height="1em"
											viewBox="0 0 16 16"
											class="bi bi-lock-fill"
											fill="currentColor"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"
											/>
											<path
												fill-rule="evenodd"
												d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"
											/>
										</svg>
									</span>
								</div>
								<input
									pattern=".{1,}"
                                    name="password"
                                    id="passwordLogin"
									type="password"
									class="form-control"
									placeholder="password"
									required
								/>
							</div>
							<div class="form-group">
								<input
									type="submit"
									value="Login"
									class="btn float-right btn-success"
								/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center">
					<a href="/recovery">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var form = document.getElementById("formRegister");
	form.addEventListener("submit", function (e) {
		const password = document.getElementById("password").value;
		const confPassword = document.getElementById("confirmPassword").value;
		if (password === confPassword) {
		} else {
			e.preventDefault();
			let errorMatch = document.getElementById("errorMatch");
			errorMatch.innerHTML = "Passwords do not match";
		}
	});
</script>
<%- include ('partials/_footer') %>
