<%- include ('partials/_header')  %>
<div class="container">
      <div class="row">
        <div class="col-8">
          <h4>Contact List</h4>
          <table class="table table-dark table-responsive table-hover">
            <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Contact Numer</th>
            </thead>
            <tbody>
              <tr>
                <td>Anthony</td>
                <td>Santiago</td>
                <td>desarrollo_anthony@gmail.com</td>
                <td>9512003318</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <h4>Register Form</h4>
          <form id="register-form">
            <input type="text" id="name" placeholder="Name" />
            <input type="text" id="lastName" placeholder="Last Name" />
            <input type="text" id="email" placeholder="email@ejemplo.com" />
            <input type="text" id="number" placeholder="Contact number" />
            <button class="btn btn-success">Register</button>
          </form>
        </div>
      </div>
    </div>

<%- include ('partials/_footer')  %>